/* ==========================================================================================
    MIXINS
========================================================================================== */


/* ==============================
    mixins grid d'après .mdl-grid et .mdl-cell
============================== */
@mixin mdl-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 0 auto;
    align-items: stretch;
    // mobile
    @media (max-width: $grid-tablet-breakpoint - 1) {
        padding: $grid-phone-margin - ($grid-phone-gutter / 2);
    }
    // tablet
    @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
        padding: $grid-tablet-margin - ($grid-tablet-gutter / 2);
    }
    // desktop
    @media (min-width: $grid-desktop-breakpoint) {
        padding: $grid-desktop-margin - ($grid-desktop-gutter / 2);
    }
}
@mixin mdl-cell {
    box-sizing: border-box;
    // mobile
    @media (max-width: $grid-tablet-breakpoint - 1) {
        margin: $grid-phone-gutter / 2;
        @include partial-size($grid-cell-default-columns, $grid-phone-columns, $grid-phone-gutter);
    }
    // tablet
    @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
        margin: $grid-tablet-gutter / 2;
        @include partial-size($grid-cell-default-columns, $grid-tablet-columns, $grid-tablet-gutter);
    }
    // desktop
    @media (min-width: $grid-desktop-breakpoint) {
        margin: $grid-desktop-gutter / 2;
        @include partial-size($grid-cell-default-columns, $grid-desktop-columns, $grid-desktop-gutter);
    }
}

/* ==============================
    Align - Center (Horizontally & Vertically)
============================== */

@mixin align-center {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
}


/* ==============================
    Align - Vertical
============================== */

@mixin align-vertical {
    @include transform(translateY(-50%));
    position: relative;
    top: 50%;
}


/* ==============================
    Background Gradient
============================== */

@mixin background-gradient($from, $to) {
    background: $from;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-linear-gradient(top, $from 0%, $to 100%);
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -ms-linear-gradient(top, $from 0%, $to 100%);
    background: -o-linear-gradient(top, $from 0%, $to 100%);
    background: linear-gradient(to bottom, $from 0%, $to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$from", endColorstr="$to", GradientType=0);
}


/* ==============================
    Border Radius
 ============================== */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}


/* ==============================
    Box Shadow
============================== */

@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}


/* ==============================
    Alpha Attribute
 ============================== */

@mixin alpha-attribute($attribute, $color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
}


/* ==============================
    Fonts
============================== */

@mixin primary-font() {
    font-family: "Signika Negative", "Tahoma", "Geneva", sans-serif;
    font-weight: normal;
}

@mixin secondary-font() {
    font-family: "Gloria Hallelujah", "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
}

@mixin tertiary-font() {
    font-family: "Tahoma", "Geneva", sans-serif;
    font-weight: normal;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}


/* ==============================
    Opacity
============================== */

@mixin opacity($opacity) {
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
    opacity: $opacity;
}


/* ==============================
    Placeholder
 ============================== */

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}
