/* ==============================
    Responsive design
   ============================== */
.hide-desktop {
    @include media($medium) {
        display: none;
    }
}

.hide-mobile {
    display: none;
    @include media($medium) {
        display: block;
    }
}

/* ==============================
    Structure Générale
   ============================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    @include outer-container(100%);
    min-height: 100vh;
    max-width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
}


/* ==============================
    Grid
   ============================== */

// Conteneur zone principal
// ==============================
.content-area {
    padding: 0 !important;
    min-height: 80vh;
    justify-content: space-between;
}

// .site-main
// ==============================
.site-main {
    flex-direction: column;
    padding: 2% 0;
}

.width-75 {
    max-width: 100%;
    @include media($medium) {
        max-width: 75%;
    }
}
.width-100 {
    max-width: 100%;
    margin: 0 auto !important;

}

// header.title-page
// ==============================
.site-main header {}

// Breadcrumbs
// ==============================
.breadcrumbs {
    margin: 0 auto !important;
}

// Post Cards
// ==============================
.masonry-grid {
//    padding: 0 !important;
    justify-content: space-around;
}
.pec-thumbnail {
    @include media($medium){
        max-width: 30%;
    }
}

// Zone sidebar
// ==============================
.sidebar {
    max-width: 100%;
    @include media($medium){
        max-width: 25%;
    }

    .widget-area, .social-menu {}
}

// Footer
// ==============================
.footer {
    margin: 0;
    .copyright, .secondary-menu {}
}
