// conteneur
.tribe-events-single-section {
    @extend .mdl-grid;
    margin: 0 !important;
}

// suppression border-top
.tribe-events-event-meta:first-child {
    border: none;
}

// style cards
.tribe-events-meta-group, .entry-meta-event .cart {
    @extend %mdl-card;
    @extend .mdl-cell;
    flex-grow: 1;

    color: palette(gris);
    box-shadow: 0 2px 4px palette(gris, mid-light);
    border-radius: 2px;

    dl {
        @extend %mdl-card__supporting-text, .mdl-cell, .mdl-cell--12-col, .mdl-grid;
        display: flex;
        flex-wrap: wrap;

        dt {
            flex-basis: 33%;
            color: palette(gris);
        }

        dd {
            &.tribe-organizer {
                flex-basis: 100%;
                padding-bottom: ms(-5);
            }
            &.tribe-venue,
            &.tribe-venue-location {
                flex-basis: 50%;
                padding-bottom: ms(-5);
            }
            flex-basis: 66%;
            color: palette(gris);
            font-weight: 100;
            .tribe-events-abbr {
                text-decoration: none;
            }
        }
    }
}

.tribe-events-single-section-title,
.tribe-events-tickets-title {
    @extend %mdl-card__title, %mdl-card__title-text;
    color: palette(gris, light);
    background: palette(vert);
    align-self: auto;
    border-bottom: 1px solid $card-border-color;
}

// tickets
.entry-meta-event .cart table td {
    @extend .mdl-grid;
    tr {
        @extend .mdl-cell, .mdl-cell--6-col, .mdl-grid;
    }
    td {
        @extend .mdl-cell, .mdl-cell--12-col;
    }
    .tribe-tickets-remaining {
        padding: ms(-5) 0;
    }
}

.entry-meta-event .cart .tribe-ticket input[type="number"] {
    &:active,
    &:focus {
        border-bottom: 2px solid palette(jaune);
        transition: border-bottom 300ms cubic-bezier(0, 1.68, 0.58, 1);
    }
}

// buttons
.tribe-events-gmap, .tribe-events-button {
    @extend %mdl-button;
    background: palette(bleu);
    color: palette(gris, light);
    &:hover,
    &:focus,
    &:active {
        color: palette(gris, light);
        background: palette(bleu, 110);
    }
}
.tribe-events-gmap {
    margin: ms(-5) 0;
}
.tribe-events-button {
    margin: ms(-5) $grid-desktop-gutter/4;
}
