// conteneur
.tribe-events-single-section {
    margin: 0 !important;
    padding: 0 !important;
}

// suppression border-top
.tribe-events-event-meta:first-child {
    border: none;
}

// style cards
.tribe-events-meta-group {
    @extend %mdl-card;
    flex-grow: 1;

    color: palette(gris);
    box-shadow: 0 2px 4px palette(gris, mid-light);
    border-radius: 2px;

    dl {
        @extend %mdl-card__supporting-text;
        display: flex;
        flex-wrap: wrap;

        dt {
            flex-basis: 33%;
            color: palette(gris);
        }

        dd {
            &.tribe-organizer {
                flex-basis: 100%;
                padding-bottom: ms(-5);
            }
            flex-basis: 66%;
            color: palette(gris);
            font-weight: 100;
            .tribe-events-abbr {
                text-decoration: none;
            }
        }
    }
}

.tribe-events-single-section-title {
    @extend %mdl-card__title, %mdl-card__title-text;
    color: palette(gris, light);
    background: palette(vert);
    align-self: auto;
    border-bottom: 1px solid $card-border-color;
}

// table + form résa ticket rsvp
.cart {
    button[type="submit"].mdl-button {
        position: static;
        bottom: auto;
        background: palette(jaune);
        color: palette(gris, light);
        &:hover,
        &:focus,
        &:active {
            color: palette(gris, light);
            background: palette(jaune, mid-dark);
        }
    }

    .mdl-data-table {
        border: none;
        width: 100%;

        tbody tr {
            border: 0 solid palette(gris, light);
            &:hover {
                background: none;
            }
        }
        td {
            border: 0 solid palette(gris, light);
            height: auto;
        }
    }

}

// counting remaining ticket
.tribe-tickets-remaining {
    font-size: ms(-2);
    margin-top: ms(-5);
}

// confirmation RSVP
.tribe-link-tickets-message {
    @extend .mdl-grid, .mdl-cell, .mdl-cell--12-col;
    background-color: palette(bleu, x-light);
    border: 0.5px solid palette(bleu, x-light);
    color: palette(bleu, 110);
    box-shadow: 0 2px 4px palette(gris, mid-light);
    border-radius: 2px;
}

// buttons
.button-google-map {
    text-align: center;
}
.tribe-events-gmap, .tribe-events-button {
    @extend %mdl-button;
    background: palette(bleu);
    color: palette(gris, light);
    &:hover,
    &:focus,
    &:active {
        color: palette(gris, light);
        background: palette(bleu, 110);
    }
}
.tribe-events-gmap {
    margin: ms(-5) 0;
}
.tribe-events-button {
    margin: ms(-5) $grid-desktop-gutter/4;
}
