/* ==============================
    Buttons
   ============================== */
.button-google-map {
    text-align: center;
}
.tribe-events-gmap, .tribe-events-button {
    @extend .mdl-button;
    background: palette(bleu);
    color: palette(gris, light);
    &:hover,
    &:focus,
    &:active {
        color: palette(gris, light);
        background: palette(bleu, 110);
    }
}
.tribe-events-gmap {
    margin: ms(-5) 0;
}
.tribe-events-button {
    margin: ms(-5) $grid-desktop-gutter/4;
}

/* ==============================
    BAR
   ============================== */
#tribe-events-bar {
    color: palette(gris);
    background-color: transparentize(palette(gris, 10), .5);
}
#tribe-bar-collapse-toggle {
    @extend .h5;
    @include secondary-font;
    color: palette(bleu, 110);
    margin-top: ms(2);
}
.tribe-bar-filters-inner,
.tribe-bar-views-inner {
    label {
        color: palette(gris);
    }
    .input-filter-container input,
    .tribe-bar-views-select {
        @extend .mdl-textfield__input;
        padding: ms(-5);
        border-bottom-color: palette(gris, 10);
        &:active,
        &:focus {
            border-bottom: 2px solid palette(gris, mid-light);
            transition: border-bottom 300ms cubic-bezier(0, 1.68, 0.58, 1);
        }
    }
}

.tribe-bar-views-list {
    display: none;
}
/* ==============================
    LIST
   ============================== */
.tribe-events-page-title {
    margin-top: ms(-5);
}
.tribe-events-list-separator-month {
    @extend .mdl-cell, .mdl-cell--12-col;
    color: palette(bleu, 110);
    background-color: palette(bleu, x-light);
    padding: ms(-5);
    font-size: ms(2);
    text-transform: capitalize;
}
.type-tribe_events {
    font-size: .875rem;
    .entry-content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-grow: 1;
    }
}
.tribe-events-event-cost,
.tribe-events-event-meta,
.tribe-event-schedule-details,
.tribe-event-date-start,
.tribe-event-time,
.tribe-events-venue-details,
.tribe-events-address,
.tribe-address {
    font-size: ms(-1);
}

.tribe-events-content {
    flex-grow: 1;
}
/* ==============================
    PAGE SINGLE EVENT
   ============================== */
// conteneur
.tribe-events-single-section {
    margin: 0 !important;
    padding: 0 !important;
}

// suppression border-top
.tribe-events-event-meta:first-child {
    border: none;
}

// style cards meta
.tribe-events-meta-group {
    @extend %mdl-card;
    flex-grow: 1;

    color: palette(gris);
    box-shadow: 0 2px 4px palette(gris, mid-light);
    border-radius: 2px;

    dl {
        @extend %mdl-card__supporting-text;
        display: flex;
        flex-wrap: wrap;

        dt {
            flex-basis: 33%;
            color: palette(gris);
        }

        dd {
            &.tribe-organizer {
                flex-basis: 100%;
                padding-bottom: ms(-5);
            }
            flex-basis: 66%;
            color: palette(gris);
            font-weight: 100;
            .tribe-events-abbr {
                text-decoration: none;
            }
        }
    }
}

.tribe-events-single-section-title {
    @extend %mdl-card__title, %mdl-card__title-text;
    color: palette(gris, light);
    background: palette(vert);
    align-self: auto;
    border-bottom: 1px solid $card-border-color;
}

/* ==============================
    RSVP
   ============================== */
// table + form résa ticket rsvp
.cart {
    button[type="submit"].mdl-button {
        position: static;
        bottom: auto;
        background: palette(jaune);
        color: palette(gris, light);
        &:hover,
        &:focus,
        &:active {
            color: palette(gris, light);
            background: palette(jaune, mid-dark);
        }
    }

    .mdl-data-table {
        border: none;
        width: 100%;

        tbody tr {
            border: 0 solid palette(gris, light);
            &:hover {
                background: none;
            }
        }
        td {
            border: 0 solid palette(gris, light);
            height: auto;
        }
    }

}

// counting remaining ticket
.tribe-tickets-remaining {
    font-size: ms(-2);
    margin-top: ms(-5);
}

// attendees
.tribe-tickets-full-name-row .mdl-textfield__input ,
.tribe-tickets-email-row .mdl-textfield__input ,
.tribe-tickets-order_status-row .mdl-textfield__input {
    &:active,
    &:focus {
        border-bottom: 2px solid palette(jaune);
        transition: border-bottom 300ms cubic-bezier(0, 1.68, 0.58, 1);
    }
}
// confirmation RSVP
.tribe-link-tickets-message {
    @extend .mdl-grid, .mdl-cell, .mdl-cell--12-col;
    background-color: palette(bleu, x-light);
    border: 0.5px solid palette(bleu, x-light);
    color: palette(bleu, 110);
    box-shadow: 0 2px 4px palette(gris, mid-light);
    border-radius: 2px;
}

