//Container Front Page
.container-front-page {
    position:relative;
    flex-grow: 1;
    margin: 0;
    overflow: hidden;

    .background-front-page {
        position: absolute;
        left:0;

        @include media($small){
                height: 150%;
                max-width: none;
                left: -40%;
        }
    }


    /* ==========================================================================================
     * 1) Start with two images absolutely positioned on top of each other.
     * 2) Use CSS keyframes to define 3 states, one with top images transparent, one with it opaque.
     *         algorithm to determine the percentages and timings:
     *
     *         For "n" images You must define:
     *         a = presentation time for one image
     *         b = duration for cross fading
     *         Total animation-duration is of course t =(a+b)*n
     *
     *         animation-delay = t/n or = a+b
     *
     *         Percentage for keyframes:
     *
     *         1) 0%
     *         2) a/t*100%
     *         3) (a+b)/t*100% = 1/n*100%
     *         4) 100%-(b/t*100%)
     *         5) 100%
     *
     * 3) Set the animations number of iterations to infinite.
     * ========================================================================================== */
    .background-top {
        animation-name: background-animation-2;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 18s;
    }

    .background-middle {
        animation-name: background-animation-2;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 18s;
        animation-delay: 6s;
    }

    .background-bottom {
        animation-name: background-animation-2;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 18s;
        animation-delay: 12s;
    }
}


@keyframes background-animation-2 {
    0% {
        opacity:1;
    }
    22.22% {
        opacity:1;
    }
    33.33% {
        opacity:0;
    }
    88.89%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}


//Content Front-Page
.content-front-page {
    z-index: 99;
    background: transparentize(palette(gris, light), 0.2);
    align-self: center;
    padding: ms(5);
    min-height: 40vh;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
    // tablet + desktop
    @include media($medium){
        background: transparentize(palette(gris, light), 0.02);
        box-shadow: 0 8px 16px palette(gris, mid-light);
        @include partial-size(7, 12, $grid-tablet-gutter);
        @include offset-size(4, 12, $grid-tablet-gutter);
    }
    @include media($large){
        @include partial-size(5, 12, $grid-tablet-gutter);
        @include offset-size(6, 12, $grid-tablet-gutter);
    }
}
.site-logo {
    text-align: center;

    img {
        padding: 2% 0;
    }

    q {
        padding: ms(0) 0;
        font-size: ms(8);
        color: palette(bleu, 110);

        &::before, &::after {
            padding: 0 $grid-desktop-gutter/4;
        }
    }
}
