.page-content .site-main {
    padding: 0;
}
.page {
    .entry-header {
        padding-top: ms(15);
        background: url('../img/default-banner.jpg') fixed no-repeat;
        background-size: 80%;

        .content-header {
            margin-bottom: ms(15);
            padding: ms(0) $gutter;
            background: transparentize(palette(bleu, x-light), 0.2);

            h2 {
                margin: ms(-15) 0;
            }
        }
    }
    .page-breadcrumbs {
        background: transparentize(palette(bleu, x-light), 0.2);
        padding: ms(-5) 0;
        margin-top: ms(15);
    }

    .entry-content {
        padding-top: ms(20);
    }
}
