.breadcrumbs {
    padding:{
        top: ms(2);
        bottom: ms(2);
    }

    a {
        color: palette(bleu);
        &:hover, &:focus {
            color: palette(bleu, dark);
        }
    }
}
