* {
    @include appearance(none);
}


/* ==============================
    Comment Form
   ============================== */
// grid
// ==============================
.comment-respond {
    padding-top: ms(10);
    margin-top: ms(10);
    border-top: solid 1px palette(gris, 20);
}
.comment-form {
    @extend .mdl-grid;
    display: flex;
//    flex-direction: column;
    flex-wrap: wrap;

    .logged-in-as,
    .comment-notes,
    .comment-form-comment,
    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .form-submit {
        @extend .mdl-cell;
    }

    .comment-form-comment,
    .logged-in-as,
    .comment-notes {
        @extend .mdl-cell--12-col;
    }


    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .form-submit {
        @extend .mdl-cell--4-col;
//        display: flex;
//        align-items: flex-end;
    }
}

// formulaire
// ==============================
// Ajout des classes material design "textfield" via javascript

// boutton submit
// ==============================
.form-submit input {
    @extend %mdl-button--raised;
    color: palette(gris, light);
    background: palette(jaune);
    &:hover,
    &:focus,
    &:active {
        color: palette(gris, light);
        background: palette(jaune, mid-dark);
    }
}
