@for $i from 1 through 9 {
    .gallery-columns-#{$i} {
        .gallery-item {
            @include partial-size($i, $i, $grid-phone-gutter);
            @include media($medium){
                @include partial-size(1, $i, $grid-desktop-gutter);
            }
        }
    }
}

.gallery {
    @extend %mdl-grid;
}

.gallery-item {
    @extend %mdl-cell;
    @extend %mdl-card;

}

.gallery-icon {
//    @extend %mdl-card__media;
    overflow: hidden;
    text-align: center;
    a {
//        display: block;
    }
    img{
//        margin: auto;
        height: auto;
    }
}
.gallery-caption {
    @extend %mdl-card__title;
    @extend %mdl-card--expand;
    text-align: center;
}
