/* ============================================================
 *   Styles commun header & footer
 * ============================================================ */

.menu {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        position: relative;
        border-radius: 2px;
    }
    a {
        @extend .mdl-navigation__link;
        color: palette(gris, light);
        padding: 0;
        font-size: ms(0);
        border-radius: 2px;
    }
    // styles tablet & desktop
    @include media($medium) {
        .sub-menu,
        .children {
            display: none;
        }
        li:hover,
        li:focus,
        li:active {
            background-color: palette(jaune);
            > .sub-menu,
            >.children {
                // position
                position: absolute;
                z-index: 9999;
                left: 0;
                // box model
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
            }
        }
    }
}


/* ============================================================
 *    HEADER : Version desktop .primary-menu
 * ============================================================ */

.primary-menu .menu {
    //    @extend .mdl-navigation;
    margin: 0;
    > li:last-of-type {
        background-color: palette(jaune);
        color: palette(gris);
        box-shadow: 0 2px 4px palette(gris, mid-light);
        line-height: 2em;
        border-radius: 2px;
        &:hover {
            background: palette(jaune, mid-dark);
        }
    }
    // styles tablet & desktop
    @include media($medium) {
        justify-content: flex-end;
        li:hover,
        li:focus,
        li:active {
            > .sub-menu {
                //position
                top: 3em;
                // apparence
                background-color: palette(vert, mid-light);
                li {
                    border-bottom: solid 1px palette(gris, 20);
                }
                a {
                    color: palette(vert, dark);
                }
                li:hover,
                li:focus,
                li:active {
                    background: palette(jaune);
                    a {
                        color: palette(gris, light);
                    }
                }
            }
        }
    }
}

.mdl-layout__header-row .menu a {
    line-height: 3em;
}


/* ============================================================
 *   HEADER : Version mobile .overlay-menu
 * ============================================================ */

// styling open close button
// ==============================
.button-overlay-menu {
    // position
    position: absolute;
    right: 2vw;
    top: 1vh;
    z-index: 19999;
    // box model
    display: inline;
    // dimensions
    font-size: 40px;
    // apparence
    color: palette(gris, light);

    &:active,
    &:focus {
        color: palette(gris, 20);
    }
    // overlay caché
    .icon__menu {
        transition-property: all 0.2s ease-in-out 0s;
    }
    .icon__menu:hover {
        color: palette(vert, mid-dark);
    }
    // overlay ouvert
    .icon__close {
        transition-property: all 0.2s ease-in-out 0s;
    }
    .icon__close:hover {
        color: palette(vert);
    }
    &.is-open ~ .overlay-menu {
        display: flex;
    }
}

// overlay
// ==============================
.overlay-menu {
    // position
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    // box model
    display: none; // toggle to 'flex' when open
    justify-content: center;
    align-items: flex-start;
    // dimensions
    height: 100vh;
    width: 100vw;
    // apparence
    background: transparentize(palette(gris, dark), 0.2);
    overflow: auto;
}

.wrap-nav {
    // box model
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // apparence
    text-align: center;
    padding: 0;
    margin: 0;

    > li {
        // position
        position: relative;
        vertical-align: top;
        // box model
        display: inline-block;
        width: 100%;
        padding: 2vh;
        margin: 0;
        // apparence
        border-bottom: 1px solid palette(gris, 20);
        text-transform: capitalize;
        font-size: ms(2);

        &:last-of-type {
            border: 0;
        }
        > a {
            // box model
            display: block;
            padding: 2vh;
            // apparence
            color: palette(vert);
            text-decoration: none;
            // animation
            transition: all 0.2s linear 0s;
        }
    }
    .sub-menu {
        padding: 0;
        li {
            // box model
            display: block;
            width: 100%;
            margin: 0;
            // apparence
            font-size: ms(-1);
            font-weight: 100;
            a {
                padding: ms(-5) auto;
                color: palette(gris, light);
                &:hover {
                    color: palette(vert);
                }
            }
        }
    }
}


/* ============================================================
 *   FOOTER : .secondary-menu
 * ============================================================ */

.secondary-menu .menu {
    // styles par défaut
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media($medium){
        flex-direction: row;
        justify-content: flex-end;
    }
    li {
        padding: 0.5em;
        margin: 0;
    }
    a {
        color: palette(gris);
    }
    //styles mobiles
    flex-direction: column;
    // styles tablet & desktop
    @include media($medium) {
        flex-direction: row;
        .children {
            //position
            bottom: 3.65em;
            //apparence
            background-color: palette(gris, 10);
        }
    }
}


/* ============================================================
 *    Style menu réseaux sociaux
 * ============================================================ */

#menu-reseaux-sociaux.menu {
    li:hover,
    li:focus,
    li:active {
        background-color: transparent;
    }
    a {
        color: palette(bleu, 110);

        &:hover,
        &:focus {
            color: palette(bleu);
        }
    }
}
