.comments-display-list {
    padding-top: ms(10);
    margin-top: ms(10);
    border-top: solid 1px palette(gris, 20);
}

.comment-body {
    @extend %mdl-grid;
    display: flex;

    .comment-meta {
        @extend %mdl-cell;
        @extend %mdl-cell--3-col;
        max-width: 25%;
    }

    .comment-author {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .fn {
            padding: 5% 0;
        }
        .says {
            display: none;
        }
    }

    .edit-link {
        display: block;
        margin: 5% 0;
    }

    .comment-content {
        @extend %mdl-cell;
        @extend %mdl-cell--9-col;
    }

    .reply {
        @extend %mdl-cell;
        @extend %mdl-cell--3-offset;
    }
}
