/* ==============================
    INDEX / SEARCH / ARCHIVE
   ============================== */
/* ==============================
    General Content styles
   ============================== */
.site-main {
    padding: 2% 0;
}

img {
    max-width: 100%;
}

hr {
    margin-bottom: ms(0);
}
/* ==============================
    Card style
   ============================== */
article.pec-thumbnail {
    //position
    position: relative;
    //apparence
    background-color: palette(gris, light);
    border: palette(gris);
    border-radius: $base-border-radius;
    box-shadow: 0 2px 4px palette(gris);
    margin: 0 $card-margin $base-spacing $card-margin;
    //animations
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    // ==============================
    // img card
    // ==============================
    .post-thumbnail {
        display: block;
        height: 150px;
        max-height: 150px;
        overflow: hidden;
        img {
            @include border-top-radius($base-border-radius);
            opacity: 1;
            transition: all 0.2s ease-in-out;
            width: 100%;
            height: auto;
        }
    }
    // ==============================
    // card content text
    // ==============================
    .entry {
        &-header,
        &-content,
        &-footer {
            padding: 2%;
        }

        &-content {
            margin-bottom: 2.5em;
        }
        &-footer {
            position: absolute;
            bottom: 0;
            //box model
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            //apparence
            background-color: palette(gris, 10);
            span {
                flex-basis: 50%;
                text-align: center;
            }
        }
    }
    .posted-on time:not(:last-of-type) {
        display: none;
    }
}
