.footer {
    background-color: palette(gris, 20);
    justify-content: center;
    align-items: center;
    text-align: center;
    @include media($medium){
        justify-content: space-between;
        align-items: baseline;
    }

    p {
        margin-bottom: 0;
    }

    .secondary-menu .menu {
        margin: 0;
        padding: 0;
    }
}
