.header {
    // position
    z-index: 9998;
    position: relative;
    // box model
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // dimensions
    min-height: 50px;
    // apparence
    background-color: palette(vert);
    box-shadow: 0 2px 4px palette(gris);
    color: palette(gris, light);

    h1,
    a {
        color: palette(gris, light);
        padding: 0;
    }

    &__logo,
    &__logo a {
        display: inline-block;
    }

    .site-mobile-title {
        padding-left: 2vw;
        padding-top: 2vh;
    }
}
