.header {
    // position
    z-index: 9998;
    position: relative;
    // box model
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10vh;
    // apparence
    background-color: palette(vert);
    color: palette(gris, light);
    box-shadow: 0 2px 4px palette(gris);


    h1,
    a {
        color: palette(gris, light);
        padding: 0;
    }

    &__logo,
    &__logo a {
        display: inline-block;
    }
}
